
/* Fontes */
$font-family: 'Inter', sans-serif;

/* Cores */

$color-background-light: #fff;
$color-background-dark: hsl(230, 17%, 14%);
$color-limegreen: hsl(163, 72%, 41%);
$color-brightred: hsl(356, 69%, 56%);
$color-white: #fff;
$color-black: #000;
$color-facebook: hsl(195, 100%, 50%);
$color-twitter: hsl(203, 89%, 53%);
$color-instagram: linear-gradient(hsl(37, 97%, 70%),hsl(329, 70%, 58%));
$color-youtube: hsl(348, 97%, 39%);
$color-card-light: hsl(227, 47%, 96%);
$color-card-dark: hsl(228, 28%, 20%);
$color-dark-blue: hsl(230, 17%, 14%);

// Breakpoints
$desktop-width: 1440px;

// Media queries
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $desktop-width) {
        @content;
    }
}