@import "./utils/switch";

body.main-page {
    * {
        font-family: $font-family;
    }

    &.dark-theme {
        background-color: $color-background-dark;
        * {
            color: $color-white;
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    &__section-a {
        h1 {
            font-size: 24px;
            font-weight: 700;
            color: $color-black;
            line-height: 32px;
        }

        span {
            font-size: 13px;
        }
    }

    &__section-b {
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
        }

        .switch {
            @extend %switch;
            margin-left: 10px;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;

    @include mobile {
        max-width: 786px;
    }
}

main {
    margin-top: 30px;

    section.followers {

        .card-facebook {
            border-top: 3px solid $color-facebook;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .card {
            position: relative;
            width: 300px;
            height: 250px;
            background-color: $color-card-light;

            &__header {
                margin: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-left: 8px;
                    font-size: 14px;
                }
            }

            &__content {
                margin-top: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__followers {
                    font-size: 64px;
                    font-weight: 700;
                    color: $color-dark-blue;
                }

                &__description {
                    margin-top: 8px;
                    text-transform: uppercase;
                    letter-spacing: 6px;
                    color: $color-dark-blue;
                }
            }

            &__footer {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                color: $color-limegreen;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 14px;

                span {
                    margin-left: 5px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}